extends layout

block content
    h4 Showing Image #{fileName}
    div
        .col-sm-12
            img(src="Records/Images/#{fileName}", alt="#{fileName}")
        .col-sm-12
            button(type="button", onclick='location.href="/viewImages?channelId=#{channelId}"').btn.btn-danger
                |Back
