extends layout

block content
	h3 Smart Camera
	div
		.col-sm-12
			form(method='POST', action='/editRule/refresh', role="form")
				div.row
					if errorMsg
						.error-notice
							.oaerror.danger
								strong Error
								| - #{errorMsg}
					if successMsg
						.error-notice
							.oaerror.success
								strong Success
								| - #{successMsg}
				input(type="hidden", name="channelId", value = "#{channelId}")
				input(type="hidden", name="ruleId", value = "#{ruleId}")
				div.row
					if ruleId
						b Edit rule
					else
						b Create new rule
					br
					br
				div.col-sm-1
					|If  
				div.col-sm-1
					select(name='event',required=true)
						option(value='')
							|Select event
						each trigger in triggers
							if(trigger == event)
								option(value='#{trigger}',selected=true)
									if trigger == ''
										| Select event
									else
										|#{trigger}
							else
								option(value='#{trigger}')
									if trigger==''
										|Select event
									else
										|#{trigger}
				div.col-sm-1
					| >= 
				div.col-sm-1
					select(name='count')
						option(value=0)
							|Select count
						-for(var i=1;i<maxCount;i++)
							option(value=i,selected=i==count)
								|#{i}
				div.col-sm-1
					| between
				div.col-sm-1
					input(type='time',name='startTime',value=startTime!=''?'#{startTime}':'',required=true)
				div.col-sm-1
					| and
				div.col-sm-1
					input(type='time',name='stopTime',value=stopTime!=''?'#{stopTime}':'',required=true)
				div.col-sm-4
					br
					br
				div.col-sm-12
					| On following days
					br
				div.col-sm-12
					.checkbox.checkbox-success
						-for(var i=0,k=0;i<days.length;i++)
							.col-sm-3(align="left")
								if selectedDays!= ''
									if selectedDays[k]==days[i]
										input(type="checkbox", name='days',value='#{days[i]}',id='checkbox#{days[i]}',checked=selectedDays[k++]==days[i]).styled
										label(for='checkbox#{days[i]}')
											|#{days[i]}
									else
										input(type="checkbox", name='days',value='#{days[i]}',id='checkbox#{days[i]}',checked=false).styled
										label(for='checkbox#{days[i]}')
											|#{days[i]}
								else
									input(type="checkbox", name='days',value='#{days[i]}',id='checkbox#{days[i]}',checked=false).styled
									label(for='checkbox#{days[i]}')
									|#{days[i]}
											
				div.col-sm-12
					.checkbox.checkbox-primary
						input(type="checkbox", name='selectAllDaysName',checked=false,id='selectAllDaysId',onclick='selectAllDays(checked)').styled
						label(for='selectAllDaysId')
							|Select all days
							
				div.col-sm-12
					br
					|Then
					br
				div.col-sm-12
					.radio.radio-warning
						each action in actions
							div.col-sm-3
								input(type="radio", name='actionSelect',
								value=action,
								id='radio#{action}',
								checked=selectedAction==action,
								onChange='this.form.submit();') 
								label(for='radio#{action}')
									if action == 'SET_STATUS'
										| Set device status
									else if action == 'NOTIFY'
										| Send notification
									else if action == 'RECORD'
										| Record incidence
									else
										| #{action}
				
				div.col-sm-12
					if selectedAction == 'SET_STATUS'
						| Device Selection and Settings:
						div.col-sm-4
							p
							select(name='target',onchange='toggleElement(value,"#{actValue}")',required=true)
								option(value='')
									|Select Group/Scene
								optgroup(label='Groups',required=true)
									each group in groups
										if(group.ID == target)
											option(value='{"value":"#{group.ID}", "dimmable":#{group.dimmable}, "min":#{group.min}, "max":#{group.max}}',selected=true)
												if group == ''
													| Select Group
												else
													|#{group.Name}
										else
											option(value='{"value":"#{group.ID}", "dimmable":#{group.dimmable}, "min":#{group.min}, "max":#{group.max}}')
												if group==''
													|Select Group
												else
													|#{group.Name}
								optgroup(label='Scenes',required=true)
									each scene in scenes
										if(scene.ID == target)
											option(value='{"value":"#{scene.ID}", "dimmable":#{scene.dimmable}, "min":#{scene.min}, "max":#{scene.max}}',selected=true)
												if scene == ''
													| Select Group
												else
													|#{scene.Name}
										else
											option(value='{"value":"#{scene.ID}", "dimmable":#{scene.dimmable}, "min":#{scene.min}, "max":#{scene.max}}')
												if scene==''
													|Select Group
												else
													|#{scene.Name}
						div.col-sm-8
							| actValue = #{actValue}
							if(isNaN(parseInt(actValue)) && actValue.indexOf('#')>=0)
								p#valueSelector
									input(type='color', name='actValue', value='#{actValue}')
							else if(isNaN(parseInt(actValue)))
								p#valueSelector
									label.switch
										input(type="checkbox",name='actValue',checked=actValue=='ON'?true:false)
										span.slider.round
							else
								p#valueSelector.range.range-primary
									input(type='range', name='actValue', min='0', max='100', value='#{actValue}', onchange='rangePrimary.value=value')
									output#rangePrimary #{actValue}
					else if selectedAction=='NOTIFY'
						.col-sm-4
							| Send notification using:
							select(name='notifySelect',required=true)
									option(value='',selected=selectedNotifOption=='')
										|Choose..
									each notif in notifOptions
										option(value='#{notif}', selected = notif==selectedNotifOption)
											| #{notif}
						.col-sm-4
							| Phone Number: 
							if phoneNumber
								input#phoneNumberInput(type='text',name='phoneNumberInput',value='#{phoneNumber}',required=true, maxLength=10)
							else
								input#phoneNumberInput(type='text',name='phoneNumberInput',value='',required=true, maxLength=10)
					else if selectedAction=='RECORD'
						| Recording Settings:
				div.col-sm-8
					br
				div.col-sm-12
					br
				div.col-sm-2
					button(type="submit",formaction='/editRule/save').btn.btn-success
						|Save
			form(method='POST', action='/editRule/refresh', role="form")
				input(type="hidden", name="channelId", value = "#{channelId}")
				input(type="hidden", name="ruleId", value = "#{ruleId}")
				div.col-sm-2
					button(type="submit",formaction='/editRule/reload').btn.btn-primary
						|Reset
				div.col-sm-2
					button(type="button",onclick='location.href="/?channelId=#{channelId}"').btn.btn-danger
						|Back
