extends layout

block content
	h4 Smart Camera
	div
		.col-sm-8
			form(method='POST', action='/refresh', role="form")
				div.row.col-sm-12
					if errorMsg
						.error-notice
							.oaerror.danger
								strong Error
								| - #{errorMsg}
					if successMsg
						.error-notice
							.oaerror.success
								strong Success
								| - #{successMsg}
				input(type="hidden", name="channelId", value = "#{channelId}")
				.col-sm-12
					b Channel Details
				.col-sm-12
					div.col-sm-4
						|Channel ID: 
					div.col-sm-4
						|#{channelId}
				.col-sm-12
					div.col-sm-4
						|Channel Name
					div.col-sm-4
						input(type='text', name='channelName',id='channelName',required=true, value='#{channelName}')
				div.col-sm-12
					br
					div.col-sm-4
						|Select Camera
					div.col-sm-4
						select(name='camera')
							option(value='')
								|Select 
							each camera in cameras
								if(camera.ID == selectedCamera)
									option(value='#{camera.ID}',selected=true)
										if camera == ''
											| Select Camera
										else
											|#{camera.Name}
								else
									option(value='#{camera.ID}')
										if camera==''
											|Select Camera
										else
											|#{camera.Name}
				div.col-sm-12
					br
					div.col-sm-4(align='left')
						button(type="submit", formaction='/save').btn.btn-success
							| Save Configurations
					div.col-sm-4(align='left')
						button(type="submit", formaction='/refresh').btn.btn-warning
							| Reset
				div.col-sm-12
					br
					br
				div.col-sm-12
					button(type="button",onclick="location.href='/viewImages?channelId=#{channelId}'").btn.btn-primary
						| View Images
				div.clo-sm-12.row
					b Rules
				div.col-sm-12
					input(type="hidden",name='selectedRule', id='selectedRule', value='')
					each rule in rules
						div.col-sm-2
							|#{rule.RuleId} - Event: #{rule.Event}, Count: #{rule.Count}, Action: #{rule.Action} 
						div.col-sm-2
							button(type="button",onclick="location.href='/editRule?ruleId=#{rule.RuleId}&channelId=#{channelId}'").btn.btn-info
								span.glyphicon.glyphicon-edit
						div.col-sm-2
							button(type="submit", formaction='/remove', onclick="return deleteRule('#{rule.RuleId}')").btn.btn-danger
								span.glyphicon.glyphicon-remove
				div.col-sm-12
					br
				div.col-sm-2(align='left')
					button(type="button",onclick="location.href='/editRule?channelId=#{channelId}'").btn.btn-primary
						| Add New Rule
