doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/stylesheets/slider.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/awesome-bootstrap-checkbox.css')
		link(rel='stylesheet', href='/stylesheets/build.css')
		link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/toggle-switch.css')
	body
		div(id='loading')
			img(id='loading-image',src='images/ajax-loader.gif', alt="Loading! Please wait...")
		block content
	script( src='/javascripts/jquery.min.js' )
	script( src='/javascripts/bootstrap.js' )
	script( src='/javascripts/custom.js' )
	script( src='/javascripts/amieScript.js')
