extends layout

block content
    h4 Events recorded in channel #{channelId}
    div
        .col-sm-8
            ul
                each file in fileNames
                    li
                        a(href="/displayImage?fileName=#{file}&channelId=#{channelId}")
                            | #{file}
                    


        button(type="button",onclick='location.href="/?channelId=#{channelId}"').btn.btn-danger
            |Back
